You haved already readed following books:
</br>
<table>
	<thead>
		<tr>
			<th>book name</th>
		</tr>
	</thead>
	<tbody>
		<%@readedbooks.each do |readedbook|%>
			<tr>
				<td><%=readedbook.book_name%></td>
				<td><%= link_to "saveidea", mybook_stream_path(readedbook)%></td>
			</tr>
		<%end%>
	</tbody>
</table>
</br>
</br>

These is all the books
</br>
<%= @books%>
</br>
</br>

These is nothing!!
</br>
<%= @ideas%>

</br>
<%= link_to "new a readedbook", new_mybook_stream_path%>
