You haved already readed following books:
</br>
<table>
	<thead>
		<tr>
			<th>book name</th>
		</tr>
	</thead>
	<tbody>
		<%@tests.each do |test|%>
			<tr>
				<td><%=test.book_name%></td>
			</tr>
		<%end%>
	</tbody>
</table>
<%= link_to "idea", mybook_stream_saveidea%>
</br>
</br>


These is all the books
</br>
<%= @books%>
</br>
</br>

These is nothing!!
</br>
<%= @ideas%>

</br>
<%= link_to "new a readedbook", new_mybook_stream_path%>
