<!DOCTYPE html>
<html>
<head>
  <title>Whoiam</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="id-all-page" class="all-page" >
  <div id="id-top-bar" class="top-bar" >
    <ul id="id-individual-bar" class="individual-bar">
      <li>
 	<% if current_user %>
    	<%= link_to current_user.name+"Sign out", signout_path, id: "sign_out" %>
  	<% else %>
    	<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  	<% end %>
      </li>
    </ul>
    <ul id="id-main-bar" class="main-bar">
      <li><%=link_to "book_stream", book_stream_index_path%></li>
      <li><%=link_to "friend_stream", friend_stream_index_path%></li>
      <li><%=link_to "mybook_stream", mybook_stream_index_path%></li>
    </ul>
  
  </div>
  <div id="id-main-page" class="main-page" >
    <%= yield %>
  </div>  
  <div id="id-bottom-bar" class="bottom-bar" ></div>
</div>

</body>
</html>
